<div class="formatDataTable">
       
        <div>
            <a href="/admin/hangsx/dshsx" class="btn btn-outline-info"> Quay lại Danh sách hãng sản xuất</a>
        </div>
        <div class="tittleDataTable">
            Thùng rác
        </div> 
        <table class="table table-striped table-bordered" id="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" colspan="2">Tên hãng sản xuất</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each dshsx}}
                    <tr>
                        <th>{{sum @index 1}}</th>
                        <td class="tenhsx" scope="col-2">{{this.tenHangSanXuat}}</td>
                        <td>  
                            <a href="" class="btnXoaDSHSX btn btn-danger" data-id="{{this._id}}">Xóa</a>
                            <a href="" data-id="{{this._id}}" class="btnKhoiPhucDSHSX btn btn-info">Khôi phục</a>
                        </td>
                    </tr>
                {{else}}
                    Thùng rác trống!
                {{/each}}
            </tbody>
        </table>
    <form name="formKhoiPhuc" method="POST"></form>
    <form name="formXoa" method="POST"></form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        var form = document.forms['formKhoiPhuc']
        var formXoa = document.forms['formXoa']
        var btnKhoiPhucDSHSX = document.querySelectorAll('.btnKhoiPhucDSHSX')
        var btnXoaDSHSX = document.querySelectorAll('.btnXoaDSHSX')
        //active
        var items = document.querySelectorAll('.items')
        items[1].classList.add('active')
        //end active
        
        btnKhoiPhucDSHSX.forEach((btn) => {
            btn.addEventListener("click", function(e) {
                e.preventDefault()
                var id = btn.getAttribute('data-id')
                form.action = '/admin/hangsx/'+id+'/trashHSX/khoiPhuc?_method=PATCH'
                form.submit()
            });
        })
        btnXoaDSHSX.forEach((btn) => {
            btn.addEventListener("click", function(e) {
                e.preventDefault()
                var id = btn.getAttribute('data-id')
                formXoa.action = '/admin/hangsx/'+id+'/trashHSX/xoaVinhVien?_method=DELETE'
                formXoa.submit()
            });
        })
    })
</script>
