<div class="dshd formatDataTable">
    <table class="table table-striped table-bordered" id="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mã đơn hàng</th>
                <th>Số tiền</th>
                <th>Số điện thoại</th>
                <th>Trạng thái</th>
                <th>Lý do</th>
                <th>Đánh giá</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each dshd}}
                <tr>
                    <th>{{sum @index 1}}</th>
                    <td>{{this._id}}</td>
                    <td class="tongTien">{{this.tongTien}}</td>
                    <td>{{this.maKhachHang.phone}}</td>
                    <td class="trangThai">{{this.trangThai}}</td>
                    <td>{{this.lyDo}}</td>
                    <td>{{this.maDanhGia.noiDung}}</td>
                    <td>
                        <a class="btn btn-info" href="/admin/hoadon/{{this._id}}/chiTietHoaDon">Chi tiết hóa đơn</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="/js/main.js"></script>
<script>
    var tongTien = document.querySelectorAll('.tongTien')
    var trangThai = document.querySelectorAll('.trangThai')
    //active
        var items = document.querySelectorAll('.items')
        items[2].classList.add('active')
    //end active
    tongTien.forEach((tien) => {
        tien.innerHTML = format_tien(tien.innerHTML, '')
    })
    trangThai.forEach((el) => {
        if(el.innerHTML == 'Hủy'){
            el.setAttribute('style', 'color:red;')
        }
    })
</script>
