<div class="formatDataTable diaChiKH">
    <a href="/themDiaChi" class="btn btn-info">Thêm địa chỉ mới</a>
    <div class="tittleDataTable">Địa chỉ khách hàng</div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Số nhà</th>
                <th>Phường Xã</th>
                <th>Quận Huyện</th>
                <th>Tỉnh TP</th>
            </tr>
        </thead>
        <tbody>
            {{#each diachi}}
            <tr>

                <th>{{sum @index 1}}</th>
                <td>{{this.soNha}}</td>
                <td>{{this.phuongXa}}</td>
                <td>{{this.quanHuyen}}</td>
                <td>{{this.tinhTP}}</td>
                <td>
                    <a href="" class="btnXoaDiaChi btn btn-danger" data-id="{{this._id}}">Xóa địa chỉ</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <form name="xoaDiaChi" method="POST"></form>
</div>

<script>
    var form = document.forms['xoaDiaChi']
    var btnXoaDiaChi = document.querySelectorAll('.btnXoaDiaChi')
    btnXoaDiaChi.forEach((btn) => {
        btn.addEventListener('click', function(e){
            console.log(btn)
            var id = btn.getAttribute('data-id')
            e.preventDefault()
            axios.post('/'+id+'/xoaDiaChi?_method=DELETE')
                .then((res) =>{
                    console.log(res.data)
                    if(res.data.message == 'xoa dia chi thanh cong'){
                        alert('xóa địa chỉ thành công!')
                        location.assign('/diaChi')
                    }               
                })
                .catch((err) => {
                console.log('thát bại')
            })
        })
    })

</script>