<div id="lichSuMuaHang">
    <div style="font-size: 24px;font-weight: 700;">
        Lịch sử mua hàng
    </div>
    <div class="table">
        <div class="tieuDe">
            <div class="w-20 chuDam gachPhanCach">STT</div>
            <div class="w-20 chuDam gachPhanCach">Giá</div>
            <div class="w-20 chuDam gachPhanCach">Trạng thái</div>
            <div class="w-20 chuDam gachPhanCach">Ngày đặt</div>
            <div class="w-20 chuDam">Đánh giá</div>
        </div>
        {{#each dsdh}}
            <div class="noiDung">
                <div class="el">
                    <div class="w-20 chuDam canhGiua">{{sum @index 1}}</div>
                    <div class="w-20 canhGiua">{{this.tongTien}}</div>
                    <div class="trangThai w-20 canhGiua">{{this.trangThai}}</div>
                    <div class="w-20 canhGiua">{{dateFormat this.ngayDat format="MM/DD/YYYY"}}</div>
                    <div class="w-20 canhGiua">
                       <form data-id="{{this._id}}" method="post">
                            <input type="text" name="text" class="text" value="{{this.maDanhGia.noiDung}}">
                            <input type="text" name="id" value="{{this._id}}" hidden class="text">
                            <button type="button" class="gui" data-id="{{this._id}}">Gửi</button>
                        </form>
                    </div>
                </div>
               
            </div>
        {{/each}}
    </div>
</div>
<script>
    var vietDanhGia = document.querySelectorAll('.vietDanhGia')    
    var trangThai = document.querySelectorAll('.trangThai')
    var dongDanhGia = document.querySelectorAll('.dongDanhGia')
    var guiDanhGia = document.querySelectorAll('.guiDanhGia')
    var gui = document.querySelectorAll('.gui')
    console.log(gui)
    var flag = 0

    {{!-- trangThai.forEach((tt, i) =>{
        if(tt.innerHTML != 'Hoàn tất'){
            vietDanhGia[i].setAttribute('style','display: none;')
        }
    }) --}}
    gui.forEach((el) =>{
        el.onclick = function(e){
            e.preventDefault()
            var formEl = el.parentElement
            formEl.method='POST'
            formEl.action = '/danhGia'
            formEl.submit()
            
        }

    })
    vietDanhGia.forEach((el) => {
        el.addEventListener('click', function(e){
            
            var hienBinhLuan = el.parentElement.parentElement
            console.log(hienBinhLuan)

        })
    })

    dongDanhGia.forEach((el) => {
        el.addEventListener('click', function(){
            var dongBinhLuan = el.parentElement.parentElement
            dongBinhLuan.setAttribute('style', 'display: none')
            console.log('dong', el.parentElement.parentElement)
        })
    })

    guiDanhGia.forEach((el) =>{
        el.onclick = function(e){
            e.preventDefault()  
            console.log(el.parentElement.parentElement.querySelector('.noiDungDanhgia'))
        }
    })
</script>
