<div id="lichSuMuaHang">
    <div style="font-size: 24px;font-weight: 700;">
        Lịch sử mua hàng
    </div>
    <div class="table">
        <div class="tieuDe">
            <div class="w-20 chuDam gachPhanCach">STT</div>
            <div class="w-20 chuDam gachPhanCach">Giá</div>
            <div class="w-20 chuDam gachPhanCach">Trạng thái</div>
            <div class="w-20 chuDam gachPhanCach">Ngày đặt</div>
            <div class="w-20 chuDam">Đánh giá</div>
        </div>
        {{#each dsdh}}
            <div class="noiDung">
                <div class="el">
                    <div class="w-20 chuDam canhGiua">{{sum @index 1}}</div>
                    <div class="w-20 canhGiua tongTien">{{this.tongTien}}</div>
                    <div class="trangThai w-20 canhGiua">{{this.trangThai}}</div>
                    <div class="w-20 canhGiua">{{dateFormat this.ngayDat format="MM/DD/YYYY"}}</div>
                    <div class="w-20 canhGiua">
                       <form data-id="{{this._id}}" method="post">
                            <input type="text" name="text" class="text" value="{{this.maDanhGia.noiDung}}">
                            <input type="text" name="id" value="{{this._id}}" hidden class="text">
                            <button type="button" class="gui btn btn-secondary" data-id="{{this._id}}">Gửi</button>
                        </form>
                    </div>
                </div>
               
            </div>
        {{/each}}
    </div>
</div>
<script src="/js/main.js"></script>
<script>  
    var trangThai = document.querySelectorAll('.trangThai')
    var tongTien = document.querySelectorAll('.tongTien')
    var gui = document.querySelectorAll('.gui')
    tongTien.forEach((el) =>{
        el.innerHTML = format_tien(el.innerHTML,'')
    })
    trangThai.forEach((tt) => {
        if(tt.innerHTML == 'Đã xác thực'){
            tt.setAttribute('style', 'color: blue')
        }
        else if(tt.innerHTML == 'Hủy'){
            tt.setAttribute('style', 'color: red')
        }
        else if(tt.innerHTML == 'Hoàn tất'){
            tt.setAttribute('style', 'color: green')
        }
    })
    gui.forEach((el) =>{
        el.onclick = function(e){
            e.preventDefault()
            var formEl = el.parentElement
            formEl.method='POST'
            formEl.action = '/danhGia'
            formEl.submit()
            
        }

    })

</script>
