<div class="mt-4">
    <div class="row">

        {{#sanphams}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-sp-item">
                <a href="/sanphams/{{slug}}">
                    <img class="card-img-top" src="/img/{{hinhAnh}}" alt="Card image cap">
                </a>
                <div class="card-body">
                    <a href="/sanphams/{{slug}}">
                        <h5 class="card-title">{{tenSanPham}}</h5>
                    </a>
                    <p class="card-text">{{moTa}}</p>
                    <p class="card-text">Giá {{gia}} VNĐ</p>
                    <a href="/sanphams/{{slug}}" class="btn btn-primary">Xem chi tiết</a>
                </div>
            </div>
        </div>
        {{/sanphams}}
        
    </div>
</div>      