<div class="formatDataTable borderForm" id="chiTietDonHang">
    <a href="/admin/donhang/dsdh" class="btn btn-primary">Quay lại danh sách hóa đơn</a>
    <div class="tittleDataTable">
        Thông tin hóa đơn
    </div> 
    <table class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Giá sản phẩm</th>
                <th scope="col">Màu</th>
                <th scope="col">Ghi chú</th>
            </tr>
        </thead>
        <tbody>
            {{#each donhang.maChiTietDonHang.sp}}
                <tr>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.idSP.tenSanPham}}</td>
                    <td>{{this.soLuong}}</td>
                    <td class="gia">{{this.idSP.gia}}</td>
                    <td>{{this.mau}}</td>
                    <td>{{this.ghiChu}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>


    <div class="thongTin">
        <div class="diaChi col-lg-4">   
            <div class="tittleDataTable">
              Địa chỉ giao hàng:
            </div> 
            <div hidden>
                <span id="idDiaChi"></span>         
            </div>   
            <div>Số nhà:
                <span id="soNha">{{donhang.maDiaChi.soNha}}</span>         
            </div>
            <div>Phường/xã:
                <span id="phuongXa">{{donhang.maDiaChi.phuongXa}}</span>
            </div>
            <div>Quận/huyện:
                <span id="quanHuyen">{{donhang.maDiaChi.quanHuyen}}</span>
            </div>
            <div>Tỉnh/Thành phố:
                <span id="tinhTP">{{donhang.maDiaChi.tinhTP}}</span>
            </div>
        </div>

        <div class="tinhTien offset-lg-4 col-lg-4">
            <div class="tittleDataTable">Tổng tiền</div>
            <div class="tien">
                <span class="col-lg-6 dam">
                    Phí giao hàng
                </span>
                <span class="col-lg-6 phiGiaoHang">
                    20000
                </span>
            </div>
            <div class="tien">  
                <span class="col-lg-6 dam">
                    Tổng tiền hàng: 
                </span>
                <span class="col-lg-6 tienHang" >
                    {{donhang.tongTienHang}}
                </span>
            </div>
            <div class="tien">
                <span class="col-lg-6 dam">
                    Tổng tiền: 
                </span>
                <span class="col-lg-6" id="tongTien">
                    {{donhang.tongTien}}
                </span>
            </div>
        </div>
    </div>
</div>

<script src="/js/main.js"></script>
<script >
    //active
        var items = document.querySelectorAll('.items')
        items[2].classList.add('active')
     //end active
    var tongTien = document.getElementById('tongTien')
    var phiGiaoHang = document.querySelector('.phiGiaoHang')
    var tienHang = document.querySelector('.tienHang')
    var gia = document.querySelectorAll('.gia')

    gia.forEach((g) =>{
        g.innerHTML = format_tien(g.innerHTML, '')
    })
    phiGiaoHang.innerText = format_tien(phiGiaoHang.innerText, '')
    tienHang.innerText = format_tien(tienHang.innerText, '')
    tongTien.innerText = format_tien(tongTien.innerText, 'VND')
    
</script>