<div class="col-lg-12">
        <div>
            <a href="/admin/sanpham/formThemSP" class="btn btn-outline-info">Thêm sản phẩm</a>
        </div>
        <div>
            <a href="/admin/sanpham/trashSP" class="btn btn-secondary">Thùng rác</a>
        </div>
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hình ảnh</th>
                    <th>Tên sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng còn lại</th>
                </tr>
            </thead>
            <tbody>
                {{#each dssp}}
                    <tr>
                        <th>{{sum @index 1}}</th>
                        <th style="height: 50px;"><img src="/img/{{this.hinhAnh}}" alt="" style="height: 100%;"></th>
                        <th>{{this.tenSanPham}}</th>
                        <th >{{this.gia}}</th>
                        <th>{{this.soLuong}}</th>
                        <th>  
                            <a href="" class="btnXoaSP btn btn-danger" data-id="{{this._id}}">Xóa</a>
                        </th>
                        <th scope="col">
                            <a href="/admin/sanpham/{{this._id}}/formSuaSP" class="btnSuaSP btn btn-primary">Sửa</a>
                        </th>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    <form name="formXoa" method="POST"></form>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function(){
        var form = document.forms['formXoa']
        var btnXoaSP = document.querySelectorAll('.btnXoaSP')

            btnXoaSP.forEach((btnXoa) => {
                //console.log(btnXoa)
                btnXoa.addEventListener("click", function(e) {    
                    e.preventDefault()        
                    var idBtnXoa = btnXoa.getAttribute('data-id')
                    console.log(idBtnXoa)
                
                    var xacnhan = confirm('Bạn có muốn xóa ? ')
                    if(xacnhan == true){
                        axios.post('/admin/sanpham/'+idBtnXoa+'/xoaSP?_method=DELETE')
                        .then((res) =>{
                            console.log(res.data)
                            if(res.data.message == 'xoa sp thanh cong'){
                                alert('xóa sản phẩm thành công!')
                                location.assign('/admin/sanpham/dssp')
                            }
                        })
                        .catch(() => {
                            console.log('thát bại')
                        })
                    }
                   
                })
            })
        
    })
</script>
