<div class="dssp">
    <div style="font-size: 24px; font-weight: 700;">Tìm kiếm theo từ khóa: {{nameSearch}}</div>
    <div class="row">
        {{#each dssp}}
            <div class="col-lg-3 items">
                <div class="card">
                    <a href="/sanpham/{{this.slug}}/chitietsp" class="items-img">
                        <img class="" src="/img/{{this.hinhAnh}}" alt="Card image cap" style="width: 100%;height: 200px;">
                    </a>
                    <div class="items-element">
                        <a href="/sanpham/{{this.slug}}/chitietsp">
                            <h4>
                                <b>{{this.tenSanPham}}</b>
                            </h4>
                        </a>
                        <div>Kích thước: {{this.kichThuoc}}</div>
                        <p class="gia">Giá: {{this.gia}} VND</p>
                        <center>  
                            <a href="/sanpham/{{this.slug}}/chitietsp" class="btn btn-primary">Chi tiết sản phẩm</a>
                        </center>
                    </div>
                </div>
            </div>
        {{else}}
            <div>Không có sản phẩm</div>
        {{/each}}   
    </div>
</div>
    